body {
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: url('halloween-graveyard.jpg') no-repeat;
  background-size: cover;
  display: flex;
}

.main {
  background: #FFFFFF;
  width: 300px;
  height: 400px;
  text-align: center;
}

#sign-up {
  margin-top: 2px;
}

#qr-link {
  margin-top: 200px;
}

button {
  align-text: center;
  border-radius: 25px;
}
