body {
  background: url('https://cdn.wallpapersafari.com/74/10/2mYG0u.png') no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  color: white;
}

img {
    border-radius: 55%;
    display: block;
}

.img-div {
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    width: 264px;
    height: 264px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 680px;
  }

input[type=text] {
  width: 250px;
  border-radius: 25px;
}

#qr-button {
  width: 325px;
  border-radius: 25px;
  background: rgb(123, 218, 178);
}

#code {
  margin-top: 3px;
}

#myBtn {
  border-radius: 25px;
  color: black;
  background: rgb(123, 218, 178);
}

#myBtn > a {
  color: Black;
}

#myBtn > a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .img-div {
    margin-right: auto;
  }
} 
