body {
  background: url('https://cdn.wallpapersafari.com/74/10/2mYG0u.png') no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  color: white;
}

img {
    border-radius: 50%;
    display: inline;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-left: 20%; /* centers the image */
    height: 100%;
    width: auto;
}

.img-div {
    width: 400px;
    height: 210px;
    position: relative;
    overflow: hidden;
    margin-left: 550px;
  }

input[type=text] {
  width: 225px;
}

#qr-button {
  width: 325px;
}
